.command {
    display: flex;
    justify-content: space-between;
    &-section {
        background-color: #f5f4fa;
    }
    &-title {
        @include font (700, 36px, 1.1666)
        margin-bottom: 50px;
        text-align: center;
        color: var(--title-color);
    }
    &-title-name {
        margin-top: 30px;
        @include font (500,16px,1.1875)
        text-align: center;
        color: var(--title-color);
    }
    &-list {
        margin-right: 30px;
        padding-bottom: 30px;
        width: calc((100% - 90px) / 4);
        background: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.position {
    margin-top: 10px;
    @include font (null, 16px, 1.1875)
    // font-size: 16px;
    // line-height: 19px;
    text-align: center;
}
.designer-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
    list-style: none;
}
.soc-link-item {
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--brand-color);
    }

}
.soc-link-icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .soc-link-item:hover & {
        fill: #ffffff;
    }
    .soc-link-item:focus & {
        fill: #ffffff;
    }
}