.modal-subscribe {
    
    // width: 570px;
    // min-height: 86px;

    @media screen and (max-width:1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
            }
        }


.footer-subscribe {
    @media screen and (max-width:1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
            }
    @media screen and (min-width:1200px) {
            display: flex;
            gap: 12px;
            justify-content: flex-end;
            width: 570px;
            min-height: 50px;
    }
    position: relative;
    align-items: center;

}

.footer-input {
    width: 100%;
    height: 50px;
    background: transparent;
    padding: 15px 16px;
    outline: none;
    @include font (null, 16px, 1.25);
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border: 1px solid var(--brand-color);
    }
}

.footer-label {
    position: absolute;
    top: 25%;
    left: 16px;
    transform: translateY(-50%);
    @include font (null, 16px, 1.25);
    color: rgba(255, 255, 255, 0.6);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .footer-input:focus + & {
        transform: translateY(200%);
    }
    @media screen and (min-width:1200px) {
       top:50%; 
    }
}

.btn-footer {
    display: flex;
    gap: 12px;
    padding: 10px 28px;
    width: 200px;
    height: 50px;
    background-color: var(--brand-color);
    @include font (700, 16px, 1.875);
    text-align: center;
    align-items: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188ce8;
    }
@media screen and (max-width:1199px) {
margin-top: 20px;
}
}
.btn-subscribe {
    fill: #ffffff;
}