.gallery {
    padding-top: 0px;
    @media screen and (max-width: 1199px) {
    display: none;
}
    &-list {
        display: flex;
        gap: 30px;
        justify-content: space-between;
    }

    &-title {
        margin-bottom: 50px;
        @include font (700, 36px, 1.1666);
        text-align: center;
        color: var(--title-color);
    }

    &-thumb {
        position: relative;
    }

    &-img-title {
        position: absolute;
        bottom: 0;
        margin: 0;
        height: 70px;
        width: 370px;
        text-align: center;
        padding-top: 27px;
        padding-bottom: 27px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
        background-color: rgba(47, 48, 58, 0.8);
    }
}