.header {
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;

    &-container {
        display: flex;
        align-items: center;
    @media screen and (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }   
        
    }

    &-nav-container {
        display: flex;
        align-items: center;
    }
}
.logo {
    @media screen and (min-width: 1200px) {
    margin-right: 90px;
    }


    &-nav {
        font-family: 'Raleway';
        font-style: normal;
        @include font (700, 26px, 1.1923);
        letter-spacing: 0.03em;
        color: #000000;
        text-decoration: none;
        list-style: none;
    }
}

.studio {
    color: var(--brand-color);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 50px;

    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 480px) {
    margin-left: 90px;
}
    &-item {
        position: relative;
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        @include font (500, null, 1.3333);
        letter-spacing: 0.02em;
        text-decoration: none;
        list-style: none;
        color: var(--nav-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--brand-color);
        }
    }
}
.current {
    color: var(--brand-color);
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: 0;
        background-image: url(../images/hover-nav.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        border-radius: 2px;
    }
}

.adress {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 50px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-wrap: wrap;
        gap: 10px;
        margin-left: 90px;
        }
        @media  screen and (max-width:767px) {
         display: none;   
        }

    &-list {
        color: var(--brand-color);
    }

    &-link {
        display: flex;
        align-items: center;

        letter-spacing: 0.02em;
        text-decoration: none;
        list-style: none;
        color: var(--link-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

        &:hover,
        &:focus {
            color: var(--brand-color);
        }
    }
}
.adress-link__text {
        @include font (500, null, 1.1428);
        @media screen and (min-width:768px) and (max-width:1199px) {
                @include font (500, 12px, 1.17);
            }
}
.email,
.phone {
    fill: currentColor;
    margin-right: 10px;
}
.menu-open {
display: block;
margin-left: auto;
width: 40px;
height: 40px;
text-align: center;
cursor: pointer;
border-color: transparent;
background-color: transparent;
@media screen and (min-width: 768px) {
display: none;
}
}
.menu-open__item {
background-color: transparent;
}

.mob-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    top: 0;
    padding: 48px 40px;
    z-index: 1;
    
    >.container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }
@media screen and (min-width: 780px) {
    display: none;
}
}

.menu-modal {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    text-align: center;
    margin-left: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-color: transparent;
    background-color: transparent;
}

.menu-close__item {
background-color: transparent;
    .menu-modal:hover & {
            fill: var(--brand-color);
        }
    
}


.menu-list {
margin-bottom: 32px;
}

.menu-list-item {
    @include font (500, 40px, 1.175);
    letter-spacing: 0.02em;
    color: #212121;
    }
.list-current {
    color: var(--brand-color);
}

.adress-menu {
    margin-bottom: 64px;
}
.adress-menu__tel {
    display: block;
    margin-bottom: 32px;
    @include font (500, 34px, 1.1764);
    letter-spacing: 0.02em;
    color: #2196F3;
}

.adress-menu__email {
    display: block;
    @include font (500, 24px, 1.16);
    letter-spacing: 0.02em;
    color: #757575;
}
.menu-soc-list {
display: flex;
align-items: center;
gap: 20px;

}

.menu-soc-link {
    position: relative;
    @include font (500, 18px, 1.22);
        letter-spacing: 0.02em;
        color: #2196F3;
}
// .menu-soc-item {
//     position: relative;
//     margin-right: 20px;
// }

.item-soc::after {
    position: absolute;
    top:0;
    right: -10px;
    content: '';
    width: 1px;
    height: 22px;
    background-color: #212121;

}
